@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-shadow-white{
  text-shadow: 0.5px 0.5px 0.5px white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-animation::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: orange;
  transition: width .3s;
}

.underline-animation:hover::after {
  width: 100%;
}


.underline-animation-black::after {
  content: '';
  display: block;
  width: 0;
  height: 0.5px;
  background: #1A2433;
  transition: width .3s;
}

.underline-animation-black:hover::after {
  width: 100%;
}